* {
  font-family: "SF Pro Display";
  padding: 0;
  margin: 0;
}

body {
  background-color: #264653;
  color: white;
}

input:focus {
  outline: none;
}

.app {
  margin: 50px;
}

.app h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.app #addContact {
  background-color: #2a9d8f;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 95%;
}

.app form label {
  font-size: 30px;
}

.app form input {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 100px;
}

.app #addContact input:focus {
  background-color: #e9c46a;

}

.app form button {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e9c46a;
  color: black;
  font-weight: 700;
  transition: all 0.3s ease;
}

.app form button:hover {
  background-color: #f4a261;
}

.app .numbers {
  background-color: #e76f51;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 95%;
}

.app .numbers h2 {
  font-size: 45px;
  font-weight: 700;
}

.app .numbers .person {
  font-size: 30px;
  font-weight: normal;
  display: flex;
  align-items: center;
  height: 50px;
}

.filter {
  background-color: #E9C46A;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 95%;
}

.filter input:focus {
  background-color: #F4A261;
}

.deleteButton {
  font-size: 25px;
  padding: 5px;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #e76f51;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease;
}

.deleteButton:hover {
  background-color: white;
  color: #e76f51;
}